<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Users Page</h1>
    <a href="/users">back</a>
    <form action="/users/<%= user.id %>" method="POST">
        <input type="text" name="name" placeholder="Enter the name" value="<%= user.name %>">
        <input type="number" name="age" placeholder="Enter age" value="<%= user.age %>">
        <input type="email" name="email" placeholder="Enter Email" value="<%= user.email %>">
        <input type="submit" value="Add User">
    </form>
</body>
</html>