<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Document</title>
  </head>
  <body class="form">
    <form action="/users/<%= user.id %>" method="POST">
      <input type="text" name="name" placeholder="Add name"  value=<%= user.name %>/>
      <input type="number" name="age" placeholder="add age" value=<%= user.age %>  />
      <input type="email" name="email" placeholder="add email" value=<%= user.email %> />
      <button>Update</button>
    </form>
  </body>
</html>
